* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Merienda One";
    font-weight: 400;
    line-height: 50px;
    font-size: 43px;
    color: #454043;
}

p {
    font-family: "Lato";
    font-weight: 400;
    color: #6C646E;
    line-height: 28.9px;
}
.container-contacts {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
} 
.header-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 52px;
    background: #fef7f0;
}

.tel {
    margin-top: 15px;
    text-decoration: none;
    color: #4c6386;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
}

.social-header {
    margin-top: 10px;
}

.header-contacts .social-header .img {
    margin-top: 10px;
}

.main-banner {
    background-image: url(../img/header-banner.png);
    background-position: center center;
    min-height: 760px;
}

.banner-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;

}

.logo {
    max-height: 58px;
}


.navigation {
    margin: 0 auto;
    padding-top: 30px;
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center center;
}

nav a {
    width: 500px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Lato";
    font-weight: 400;
    color: #4c6386;
    padding-right: 15px;
}

nav a:hover {
    color: #bbb9ba;
}


h1 {
    width: 400px;
    margin-top: 200px;
    font-family: "Merienda One";
    font-size: 85px;
    font-weight: 400;
    line-height: 95px;
    color: #454043;
}

.main-banner .banner-content p {
    margin-top: 30px;
    font-size: 20px;
    color: #454043;
}
.promo_btn {
    margin-top: 40px;
}


.promo_btn , .order_btn, .order-btn {
    width: 115px;
    height: 45px;
    border-width: 0;
    border-radius: 7px 25px 25px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: #e22028;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    user-select: none;   
}
.promo_btn:hover { background: #ab2c32; }
.promo_btn:active { background: #ab2c32; }

.order_btn:hover { background: #ab2c32; }
.order_btn:active { background: #ab2c32; }

.founder {
    background-image: url(../img/background-owner.png);
    background-position: center center;
    height: 683px;
    background-size: cover;
}

.founder-info {
    display:block;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 85px;
    width: 770px;
    height: 513px;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
    padding: 30px;
}

.founder h2 {
    margin-top: 5px;
    font-size: 26px;
}

.founder-info img {
    border-radius: 50%;
    object-fit: cover;
}

.founder h3 {
    margin-top: 12px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    color: rgb(69, 64, 67);
}

.founder p {
    margin-top: 50px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 17px;
    color: rgb(108, 100, 110);
    line-height: 29px;
}

.story-btn {
    font-family: "Lato";
    font-weight: 400;
    width: 110px;
    height: 45px;
    border: 2px solid #e22028;
    border-radius: 7px 25px 25px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    user-select: none;   
}

.story-btn:hover { 
    background: #e22028;
    color: #fff;

}

.choose-your-sweets {
    background-image: url(../img/background-sweets.png);
    background-position: center center;
    height: 1311px;
    background-size: cover;
    background-attachment: fixed;
}

.choosee-sweets-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-around;
    
    

}
.choose-your-sweets h2 {
    padding: 75px;
    text-align: center;
}


.sweets-cards {
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    width: 370px;
    height: 472px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container-card h4 {
    font-family: "Merienda One";
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #454043;
}

.container-card a {
    display: block;
    margin-top: 5px;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #4C6386;
    text-align: center;
}
.sweets-cards img {
    object-fit: cover;    
}

.custom-decoration {
    height: 700px;
    background-color: #fff;
}
.custom-container {
    width: 1200px;
    margin: 0 auto;
}
.custom-decoration h2 {
    padding-top: 75px;
    text-align: center;
}

.custom-content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom-text {
    display: block;
    width: 570px;
}

.custom-decoration h3 {
    padding-top: 75px;
    font-family: "Merienda One";
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #454043;
}

.custom-decoration p {
    padding-top: 20px;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #454043;
    line-height: 28.9px;
    text-align: left;
}

.make-order-btn {
    margin-top: 30px;
    width: 150px;
    height: 45px;
    border-width: 0;
    border-radius: 7px 25px 25px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: #e22028;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    user-select: none;   
}
.promo_btn:hover { background: #ab2c32; }
.promo_btn:active { background: #ab2c32; }

.follow-us {
    height: 890px;
    background-image: url(../img/follow-us.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.follow-us .follow-container { 
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card-insta {
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    width: 370px;
    height: 516px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.card-insta h4 {
    align-self: flex-start;
    padding-left: 26px;
    padding-top: 10px;
    font-family: "Merienda One";
    font-size: 20px;
    font-weight: 400;
    color: #454043;
}

.card-insta img {
    object-fit: cover;
}
.follow-us .follow-content {
    width: 500px;
    height: 153px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-family: "Merienda One";
    font-size: 20px;
    font-weight: 400;
    color: #454043;
}

.follow-btn {
    margin-top: 30px;
    margin-left: 120px;
    width: 264px;
    height: 50px;
    border-width: 0;
    border-radius: 7px 25px 25px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: #e22028;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    user-select: none;
    display: flex;
    align-items: center;  
    justify-content: center;
}



.order-btn:hover { background: #ab2c32; }
.order-btn:active { background: #ab2c32; }

.follow-btn:hover { background: #ab2c32; }
.follow-btn:active { background: #ab2c32; }

.red-text {
    color: #e22028;
}

.container-party {
    width: 1200px;
    margin: 0 auto;
}

.children-party {
    height: 1037px;
    background-color: #fff;
}
.party-foto img {
    margin-top: 30px;
    object-fit: cover;
}
.party-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.children-party h2 {
    margin-top: 75px;
    text-align: center;
}

.children-party p {
    width: 770px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 17px;
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    color: #6C646E;
    line-height: 28.9px;
}

.order-sweets {
    height: 401px;
    background-image: url(../img/background-order.png);
    background-position: center center;
    background-size: cover;
}

.order-sweets {
    text-align: center;
}

.order-sweets h2 {
    padding-top: 75px;
    text-align: center;
}

.order-sweets p {
    padding-top: 75px;
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 19px;
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    color: #6C646E;
    line-height: 28.9px;
}

.cake-fillings {
    height: 1012px;
    background-image: url(../img/background-fillings.png);
    background-position: center center;
    background-size: cover;
}

.cake-fillings h2 {
    padding-top: 75px;
    text-align: center;
}

.container-fillings {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.fillings-cards {
    display: block;
    margin-top: 50px;
    border-radius: 5px;
    width: 370px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 4px 38px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
/*     display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; */
}

.fillings-cards h3 {
    margin-top: -30px;
    font-family: "Merienda One";
    font-weight: 400;
    line-height: 50px;
    font-size: 26px;
    color: #454043;
    text-align: center;
}

.fillings-cards h4 {
    margin-top: 15px;
    color: #e22028;
}

.fillings-cards p {
    width: 295px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    color: #6C646E;
    line-height: 28.9px;
}

.fillings-cards img {
    display: block;
    padding: 25px 0 25px 55px;
    object-fit: cover;
}

.fillings-cards .container-card {
    display: block;
    margin-top: 50px;
}
.container-btn-fillings {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-fillings-btn {
    margin-top: 70px;
    font-family: "Lato";
    font-weight: 600;
    width: 200px;
    height: 45px;
    border: 2px solid #e22028;
    border-radius: 7px 25px 25px 25px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    user-select: none;  
}

.wedding-cake {
    min-height: 525px;
    background: #fef7f0;
}

.container-wedding-cake {
    width: 1200px;
    padding-top: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wedding-cake-content p {
    padding-top: 56px;
    font-size: 17px;
}


.wedding-cake-content {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.wedding-cake-btn {
    margin-top: 70px;
    font-family: "Lato";
    font-weight: 600;
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 7px 25px 25px 25px;
    font-size: 16px;
    background-color: #e22028;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    user-select: none;  
}

.wedding-cake-btn:hover { background: #ab2c32; }